/* 헤더 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  background: rgba(255, 255, 255, 0.15);
  mix-blend-mode: exclusion;
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 9999;
}
header.on{
  opacity: 1;
  visibility: visible;
}
header .gnb{
  height: 100%;
}
header .menu_wrap{
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 100%;
}
header .menu_wrap .menu{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu_wrap .menu a{
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width:500px) {
  header .menu_wrap {
    gap: 20px;
  }
  header .menu_wrap .menu a{
    font-size: 16px;
  }
}
@media (max-width:500px) {
  header{
    display: none;
  }
}