@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background: #ffffff;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}
/* cursor */
*{
  cursor: none;
}
.theBall,
.theBall-outer{
  width: 40px;
  height: 40px;
  mix-blend-mode: exclusion;
}
.theBall-outer{
  position: fixed;
  top: -40px;
  left: -40px;
  z-index: 99999;
  pointer-events: none;
}
.theBall{
  position: absolute;
  background-color: #dbdbdb;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center center;
}
.theBall-outer.zoom  .theBall{
  border-radius: 100%;
  transform: scale(2.5);
  background-color: #ffe5e5;
}
.theBall-outer.zoom2 .theBall{
  border-radius: 50%;
  transform: scale(5);
}
.theBall-outer.zoom3 .theBall{
  transform: scaleY(2) scaleX(5);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  background: rgba(255, 255, 255, 0.15);
  mix-blend-mode: exclusion;
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 9999;
}
header.on{
  opacity: 1;
  visibility: visible;
}
header .gnb{
  height: 100%;
}
header .menu_wrap{
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 100%;
}
header .menu_wrap .menu{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu_wrap .menu a{
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#main{
  width: 100%;
}
#main section{
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}
#main #home{
  /* background: #2C2A2A; */
  background: url(../img/back.png) no-repeat center center /cover;
}
#main #home .container{
  width: 100%;
  margin: 0 auto;
  padding: 168px 0;
  position: relative;
  z-index: 1;
}
#main #home .center_txt{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #home .center_txt .white{
  font-weight: 700;
  font-size: 160px;
  color: #fff;
  text-transform: uppercase;
}
#main #home .center_txt p .dot{
  color: #A7EED8;
}
#main .img_wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#main .img_wrap .elli{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: scrElli 10s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes scrElli {
  to {
    transform: translateX(-50%);
  }
}
#main .img_wrap .elli_1{
  width: 695px;
  height: 503px;
  position: absolute;
  bottom: -6%;
  left: 0%;
  animation: rotate 10s reverse infinite;
}
 #main .img_wrap .elli_2{
  width: 465px;
  height: 480px;
  position: absolute;
  bottom: -6%;
  left: 5%;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0%{
      transform: rotate(360deg);
  }
}
#main .img_wrap .four{
  display: flex;
  width: 170px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 8%;
  top: 2%;
  animation: wide 4s ease-in-out infinite;
}
#main .img_wrap .four span{
  display: block;
  margin-left: -40px;
}
@keyframes wide {
  0%{
    width:260px;
  }
  50%{
    width:170px;
  }
  100%{
    width:260px;
  }
}
#main .img_wrap .star{
  position: absolute;
  bottom: 10%;
  right: 18%;
  width: 150px;
  height: 150px;
}
#main .img_wrap .smallStar{
  position: absolute;
  top: 10%;
  left: 18%;
  width: 79px;
  height: 79px;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#main .img_wrap .item{
  position: absolute;
  top: 16%;
  left: 4%;
  width: 250px;
  animation: scrItem 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes scrItem {
  to {
    transform: translateX(-100%);
  }
}
.scrImg {
  animation: scrRotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes scrRotate {
  to {
    transform: rotate(360deg) translateX(-100%);
  }
}
#main #home .scroll{
  margin: 0 auto;
}
#main #home .scroll span{
  display: block;
  width: 5px;
  height: 80px;
  margin: 0 auto;
  background-color: #d9d9d9;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
#main #home .scroll p{
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
#main #home .scroll span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 75px;
  background-color: #171717;
  z-index: 1;
  transition: 0.5s all;
  animation: scrDown 2s linear infinite;
}
@keyframes scrDown {
  0%{top: 5%;}
  100%{top: 100%;}
}
#main #career{
  background: url(../img/sec2_bg.png) no-repeat center center /cover;
  overflow: hidden;
  height: auto;
}
#main #career .container{
  padding: 120px 0;
}
#main #career .cosmo{
  position: relative;
  width: 100%;
}
#main #career .cosmo .center{
  width: 1366px;
  position: relative;
  z-index: 99;
}
#main #career .cosmo .center img{
  width: 100%;
}
#main #career .cosmo .circle{
  animation: spining 10s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #career .cosmo .circle .img{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120vw;
  height: 120vw;
  transform: translate(-50%, -50%);
  background: url("../img/spin.svg");
  background-size: contain;
}
@keyframes spining {
  0% {
    transform: rotateX(60deg) rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotateX(60deg) rotate(359.99deg) translate(-50%, -50%);
  }
}
#main #career .cont_wrap{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 999;
  width: 80%;
  justify-content: space-between;
}
#main #career .cont_wrap .chart{
  width: 332px;
  margin-left: 130px;
}
#main #career .cont_wrap .git_link{
  display: flex;
  align-items: center;
  gap: 14px;
}
#main #career .cont_wrap .git_link p{
  font-weight: 500;
  font-size: 16px;
  color: #131313;
}
#main #career .cont_wrap .career_list{
  margin-top:80px;
  display: grid;
  grid-template-columns: 15% 63%;
}
#main #career .cont_wrap .career_list p{
  color: #131313;
}
#main #career .cont_wrap .career_list .tt{
  font-weight: 700;
  font-size: 26px;
}
#main #career .cont_wrap .career_list ul p.date{
  font-weight: 700;
  font-size: 26px;
}
#main #career .cont_wrap .career_list ul p.place{
  font-weight: 500;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
#main #career .cont_wrap .career_list ul p.work{
  font-size: 16px;
  margin-top: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}
#main #career .cont_wrap .right_con{
  /* position: absolute; */
  position: relative;
  width: 734px;
  height: 734px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #877B7B;
  border-radius: 100%;
  box-shadow: inset 3px 4px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(27px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#main #career .cont_wrap .right_con::before{
  content: '';
  position: absolute;
  width: 197px;
  height: 197px;
  top: -30px;
  left: -120px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #BAB5B5;
  border-radius: 100%;
  box-shadow: inset 4px -5px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(27px);
}
#main #career .cont_wrap .tit{
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  margin-bottom: 40px;
}
#main #career .cont_wrap .txt_area{
  display: flex;
  justify-content: center;
  gap: 64px;
  align-items: flex-start;
}
#main #career .cont_wrap .txt_area ul li p{
  font-size: 24px;
  color: #fff;
  margin-bottom: 22px;
}

#main #port{
  background-color: #fff;
}
#main .title{
  width: 80%;
  padding:110px 0 ;
  background: #131313;
  margin-top: -500px;
  position: relative;
  z-index: 999;
}
#main .title p{
  font-weight: 700;
  font-size: 160px;
  color: #fff;
  margin-left: 210px;
}